body {
    background-image: url("../images/background.png") !important;
    background-color: #cccccc;
}

.navbar{
    color: rgb(169, 142, 35) !important;
    font-family: 'Aladin'! important;
    font-size: x-large;
}

.navbar-brand
{
    color: #f58b09;
    font-family: 'Aladin'! important;
    font-size: 64px !important;
    text-shadow: 3px 3px #b65213;

}


.profileImg {
    width: 250px;
    height: 250x;

}

.jumbotron {
    border-radius: 12px;
}

h1, h2 {
    font-family: 'Raleway';
}

p {
    font-family: 'Raleway';
}

.card-body :link {
    font-family: 'Raleway';

}

button {
    border-radius: 12px !important;
    background-color: teal;
    
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align:center;
    background-color: white;
}